# Data
data
src/data/rawEvents

# Temporary files
src/tmp

# Secrets
src/secrets/*
!src/secrets/pdd-secrets.template.json

# Cython compilation related files
*.c
*.o
*.so

# Cache
src/__pycache__
src/lib/__pycache__
src/widgets/__pycache__

# Python compilation files
*.pyc
