events/
events_mat_corrected/
events_mat_corrected_v2/
events_mat_uncorrected/
events_pkl_corrected_v2/
ffm/
figures/
p_wave/
*.zip
*.npz
*.mat
SpectralValues.xlsx
SpectralValues_2.xlsx
*.xlsx
*.pyc
rawData/*
